* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator {
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
}
.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}
form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px;
}
form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal {
    width: 145px;
}
form input.operator {
    color: #33ffd8;
}
p {
    position: relative;
    bottom: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 10px 20px;
    background: #3a4452;
    color:#fff;
}
p span a{
    text-decoration: none;
    color: #33ffd8;
}


/* Responsive for Small Device */
@media (max-width: 375px) {
    .calculator {
        padding: 10px;
    }
    p {
        font-size: 17px;
    }
    .calculator form input {
        width: 48px;
        height: 50px;
        font-size: 18px;
    }
    form input.equal {
        width: 105px;
    }
    form .display input {
        font-size: 40px;
    }
}